.max-height {
	min-height: 100vh;
}
.img-container {
	min-height: 100vh;
	background: url(../img/PR.jpg) center/cover fixed no-repeat;
	border: 0.8rem solid blue;
	border-radius: 0.5rem;
	position: relative;
}
.btn-left i {
	position: absolute;
	top: 50%;
	left: 0;
	color: orange;
	transform: translate(-100%, -50%);
	font-size: 2.2rem;
}
.btn-left i:hover {
	border-color: olivedrab;
	color: whitesmoke;
}
.btn-right i {
	position: absolute;
	top: 50%;
	right: 0;
	color: orange;
	transform: translate(100%, -50%);
	font-size: 2.2rem;
}
.btn-right i:hover {
	border-color: olivedrab;
	color: whitesmoke;
}